<ion-view view-title="home">
  <div class="bar bar-header">
    <div class="h1 title">WalkWithMe</div>
  </div>
  <ion-content class="has-header">

    <input type="checkbox" id="menu_opener_id" class="menu_opener">
      <label for="menu_opener_id" class="menu_opener_label"></label>
      <div class="barre_hamburger"></div>
      <a ui-sref="walk" nav-direction="enter" class="link_one link_general"></a>
      <a ui-sref="history" nav-direction="enter" class="link_two link_general"></a>
      <a ui-sref="settings" nav-direction="enter" class="link_three link_general"></a>
      <a ui-sref="friends" nav-direction="enter" class="link_four link_general"></a>
    </input>

  </ion-content>
</ion-view>

